@inherits LayoutComponentBase
<div class="page">

    <main>
        <div class="navbar sticky-top navbar-expand-lg bg-dark border border-dark">
            <div class="d-flex mx-3 flex-row column-gap-3">
                <a class="nav-link link-light link-hover" href="/"><p>Home</p></a>
                <a class="nav-link link-light link-hover" href="#project-section">Projects</a>
                <a class="nav-link link-light link-hover" href="#social-section">Socials</a>
            </div>
        </div>
        <article class="content px-4">
            @Body
            @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> *@
        </article>
        <div class="container-fluid bg-black">
            <footer class="py-3 mt-4 overflow-hidden">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#welcome-section" class="nav-link px-2 text-muted link-hover">Home</a></li>
                    <li class="nav-item"><a href="#project-section" class="nav-link px-2 text-muted link-hover">Projects</a></li>
                    <li class="nav-item"><a href="#social-section" class="nav-link px-2 text-muted link-hover">Socials</a></li>
                </ul>
                <p class="text-center text-muted" >Nikyle Naicker 2025</p>
            </footer>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
