@page "/"
@inject IProjectService _projectService;
@inject ProtectedSessionStorage ProtectedSessionStore
<PageTitle>Home</PageTitle>

<div class="container-fluid ">
    <section id="welcome-section" class="d-flex flex-column justify-content-center align-items-center min-vh-100">
        <h1 class=" text-center" >Hi, I am a Developer</h1>
        <h3 class=" text-center">And this is my development Portfolio</h3>
    </section>
    <section id="project-section" class="container-fluid w-100 flex-column " >
        <h3 class="text-center" >Projects</h3>
        <div style="min-height: 75px;" class="d-flex col-auto overflow-y-scroll justify-content-evenly">
            @foreach(var project in projects)
            {
                <a href="project/@project.Title">
                <div class=" row-sm-4 overflow-auto d-inline-block border h " >
                    <h4>@project.Title</h4>
                    <img src="" />
                </div>
                </a>
            }
        </div>
    </section>
    <section id="social-section">
        <h3>Socials</h3>

        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-phone"></i>
    </section>
    
</div>

@code {
    private IList<Project> projects { get; set; } = new List<Project>();

    protected override void OnInitialized()
    {
        projects = _projectService.GetProjects().ToList();
    }

   

}