@page "/"
@inject IProjectService _projectService;
<PageTitle>Home</PageTitle>

<div class="container-fluid ">
    <section id="welcome-section" class="d-flex flex-column justify-content-center align-items-center min-vh-100">
        <h1 class=" text-center" >Hi, I am a Developer</h1>
        <h3 class=" text-center">And this is my development Portfolio</h3>
    </section>
    <section id="project-section" class="container-fluid w-100 flex-column " >
        <h3 class="text-center" >Projects</h3>
        <div class="d-flex justify-content-evenly">
            @foreach(var project in projects)
            {
                <div class="d-inline-block border ">
                    <h4>@project.Title</h4>
                    <img src="" />
                </div>
            }
        </div>
    </section>
</div>

@code {
    private IList<Project> projects { get; set; } = new List<Project>();

    protected override void OnInitialized()
    {
        projects = _projectService.GetProjects().ToList();
    }

}