@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid ">
    <section class="d-flex flex-column justify-content-center align-items-center min-vh-100">
        <h1 class=" text-center" >Hi, I am a Developer</h1>
        <h3 class=" text-center">And this is my development Portfolio</h3>
    </section>
</div>


