@page "/"
@inject IProjectService _projectService;
@inject ProtectedSessionStorage ProtectedSessionStore
<PageTitle>Home</PageTitle>

<div class="container-fluid ">
    <section id="welcome-section" class="d-flex flex-column justify-content-center align-items-center min-vh-100">
        <h1 class=" text-center" >Hi, I am a Developer</h1>
        <h3 class=" text-center">And this is my development Portfolio</h3>
    </section>
    <section id="project-section" >
        <h3 class="text-center border-bottom py-3" >Projects</h3>
        <div class="container-fluid py-2">
            <div class="row row-cols-auto ">
            @foreach(var project in projects)
            {
                <a class="link-dark link-hover" href="project/@project.Title">
                <div style="width:200px; height: 150px;" class="d-block border my-2 p-3" >
                    <img class="img-fluid ratio-1x1 mb-1" src="@project.ProjectThumbnail" alt="Project Thumbnail"/>
                    <h5 class="text-center my-1 p-1 border-top">@project.Title</h5>
                </div>
                </a>
            }
            </div>
        </div>
    </section>
    <section id="social-section">
        <h3 class="text-center border-bottom py-3">Socials</h3>
        <div style="min-height:75px;" class="container-fluid d-flex py-2 justify-content-evenly">
            <a class="link-dark link-hover" href="https://linkedin.com/in/nikyle-naicker-ba679922a" target="_blank"><i class="fa-brands fa-linkedin fa-3x"></i></a>
            <a class="link-dark link-hover" href="https://github.com/Nikyle-Naicker" target="_blank"> <i class="fa-brands fa-github fa-3x"></i> </a>
            <a > <i class="fa-solid fa-envelope fa-3x"></i> </a>
            <i class="fa-solid fa-phone fa-3x"></i>
        </div>
        
    </section>
    
</div>

@code {
    private IList<Project> projects { get; set; } = new List<Project>();

    protected override void OnInitialized()
    {
        projects = _projectService.GetProjects().ToList();
    }

   

}